
@font-face{

    font-family: 'Metro Normal';
    src:url('../../resources/fonts/Metro Normal.ttf');
}

.row{

    margin-top: 15px; 
}
.homepage_logo{
    color: #fff!important;
}
body {
    margin: 0;
    padding: 0;
    font-family:'Palatino Linotype','Courier New', 'Calibri Light', 'Metro Normal', Arial, Helvetica, Verdana;
    font-size: 17px;
    line-height: 20px;
    background: #F8F8F8 url("../../resources/images/background.png") repeat-x 0 60px; 

}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.bootstrap-datetimepicker-widget table td.disabled{
    background: rgb(234, 125, 125)!important;
    color: #fff!important;
}
.homepage_btnreadmore{
    float:right;
}
#map {
    height: 17.65em;
    /*width: 100%;*/
    margin: 0 auto;
}
.bookRoom lable{
    /*text-align: right;*/
    padding-left: 0px;
    margin-top: 8px;
}
.roomdetai_info span img{
    width: 22px;
    margin-right: 5px;
    margin-top:-5px;
}
.roomdetai_info span{
    width: 85px;
    float: left;
    pading:0px!important;
}
.alert-info{
    /*    background-color: #0c84e4!important;*/
    background-color:  rgb(251, 119, 119);
    opacity: 0.9;
}
.alert-success{
    /*    background-color: #0c84e4!important;*/
    /*background-color:  rgb(251, 119, 119);*/
    opacity: 0.9;
}
.homepage_box{
    /* padding:0px; */
    /*height: 300px;*/
    margin-top: 15px;
}
.homepage_box .main_image{
    padding:0px;
    border: none;
    border-radius: 2px;
/*    width: 360px;
    height: 200px;*/
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    box-shadow: 0 1px 4px rgba(0,0,0,0.3)
}
/*.homepage_box img{
    padding:0px;
}*/
.homepage_option{
    height: 45px;
    background: #fff;
    opacity: 0.5;
    margin-top: 140px;
    position: relative;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
.homepage_box .panel-body span {
    /*color: #2196F3;*/
    padding: 10px;
}
.homepage_box .panel-body img{
    cursor: pointer;
    padding: 12px 0 0 12px;
    /* width: 10px; */
}
.homepage_box .panel-body{
    padding:0px;
}
.homepage_sharing, .homepage_favorite{
    text-align: right;
}
/*.homepage_search_room .panel-heading span{
    margin-right: 5px;
}*/
.glyphicon{
    margin-right: 5px;
}
.homepage_search_room .form-group label{
    text-align: left;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity 0.4s linear;
    transition: opacity 0.4s linear;
}

.profileImage img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius:50%;
    margin: 10px 0px 10px 0px;
}
.modal-footer{
    text-align: right!important;
}

.homepage_menu_right img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-border-radius:50%;
    margin-top: -8px;
}
.carousel-inner{
    height: 20em;
}
.profileSidebarMenu .list-group-item{
    border: none!important;
}
.profileSidebarMenu .glyphicon{
    margin-right: 10px;
}
.profileImage{
    text-align: center;
}
.roomdetail_description{
    margin-top:20px;
}
#street-view{
    height: 17.6em!important;
}

@media (max-width:768px) {
    .homepage_box .panel-body img{
        padding: 10px 0 12px 12px;
        width: 10%;
    }
    .homepage_search_room{
        margin-top: 20px;
    }
    .homepage_box .panel-body span {
        padding: 5px;
    }
    .roomdetai_info{
        margin: 15px 0px;
        padding-left: 0px;
    }
    .roomdetai_info span {
        /*width: 80px;*/
        float: left;
    }
}
//====================================
//Begin | Form Dang Ky & Dang Nhap
* {
    font-family: 'Roboto', sans-serif;
}

#login-modal .modal-dialog {
    width: 350px;
}

#login-modal input[type=text], input[type=password] {
    margin-top: 10px;
}

#div-login-msg,
#div-lost-msg,
#div-register-msg {
    border: 1px solid #dadfe1;
    height: 30px;
    line-height: 28px;
    transition: all ease-in-out 500ms;
}

#div-login-msg.success,
#div-lost-msg.success,
#div-register-msg.success {
    border: 1px solid #68c3a3;
    background-color: #c8f7c5;
}

#div-login-msg.error,
#div-lost-msg.error,
#div-register-msg.error {
    border: 1px solid #eb575b;
    background-color: #ffcad1;
}

#icon-login-msg,
#icon-lost-msg,
#icon-register-msg {
    width: 30px;
    float: left;
    line-height: 28px;
    text-align: center;
    background-color: #dadfe1;
    margin-right: 5px;
    transition: all ease-in-out 500ms;
}

#icon-login-msg.success,
#icon-lost-msg.success,
#icon-register-msg.success {
    background-color: #68c3a3 !important;
}

#icon-login-msg.error,
#icon-lost-msg.error,
#icon-register-msg.error {
    background-color: #eb575b !important;
}

#img_logo {
    max-height: 100px;
    max-width: 100px;
}

/* #########################################
   #    override the bootstrap configs     #
   ######################################### */

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}

.modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}

.checkbox {
    margin-bottom: 0px;
}

.btn {
    border-radius: 0px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.btn-lg, .btn-group-lg>.btn {
    border-radius: 0px;
}

.btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6;
}

.btn-link:hover, .btn-link:focus {
    color: #2c3e50;
    text-decoration: none;
}

.glyphicon {
    top: 0px;
}

.form-control {
    border-radius: 0px;
}
//End | Form Dang Ky & Dang Nhap
//====================================